

.box{
  border: 3px solid black;
  width: 250px;
 
  
}

.item-img{
  width: 200px;
  margin: 20px;
}
.main{
  display: flex;
  justify-content: center;
 
}
h3{
  display: flex;
  justify-content: center;
}